<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Counter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'clickerRoot/css/bootstrap.css' %} ">
	<link rel="stylesheet" href="{% static 'clickerRoot/css/font-awesome.min.css' %} ">
	<link rel="stylesheet" href="{% static 'clickerRoot/css/main.css' %} ">
	<script src="{% static 'clickerRoot/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'clickerRoot/js/JavaScriptClicker.js' %}"></script>
</head>
<body onload="onLoader({{user.counter}})">
	<div class="navbar-inverse navbar-fixed-top">
		<div class-="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="welcome">C<i class="fa fa-circle"></i>UNTER</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="Gcount">Global count: {{global_counter}}</a></li>
                    <li><a href="#">Username: {{user.name}}</a></li>
					<li class="active"><a href="https://www.jetbrains.com/pycharm/download/#section=windows">PyCharm</a></li>
					<li><a href="https://www.djangoproject.com/">Django</a></li>
					<li><a href="https://www.python.org/">Python</a></li>
					<li><a href="https://getbootstrap.com/">Bootstrap</a></li>
					<li><a href="index2"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="headerwrap">
		<div class="container">
			<div class="row center">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>C<i class="fa fa-circle"></i>UNTER</h1>
					<br>
					<h2 id="h2counter">TOTAL: {{user.counter}}</h2>
					<br>
					<br>
					<div id="videoDiv" hidden>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/{{videoId}}?autoplay=1&controls=0" frameborder="0">

						</iframe>
					</div>
					<div id="button1">
							{% csrf_token %}
							<button name="ClickButton" class= "button" type="button" onclick="incrementation('{{videoId}}', '{{user.name}}', '{{csrf_token}}')">CLICK</button>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>Koncepcja</h4>
				<p>Aplikacja stworzon, żeby klikać. Nic więcej. </p>
			</div>
			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>Wykorzystywane technologie</h4>
				<p>Aplikacja była zrobiona za pomocą Bootstrap, HTML, CSS, Python, Django. </p>
			</div>
			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>Kliknięcia</h4>
				<p>Trzeba kliknąć 1 000 000 razy, żeby zobaczyć coś ciekawe. </p>
			</div>
		</div>
		<br><br>
	</div>
</body>
</html>