{% extends 'clickerRoot/base.html' %}

{% block content %}

	<script type="text/javascript">

		var socket_url = "ws://" + window.location.host + window.location.pathname;
		console.log(window.location);
		var socket = new WebSocket(socket_url);

		var global_count = {{global_counter}};
		var click_count = {{user_c.counter}};

		socket.onmessage = function(event){
			console.log("receive ",event);
			$(".Gcount").text('Global count: '+ (JSON.parse(event.data)));
			$('#h2counter').text('total: ' + click_count);
			global_count = (JSON.parse(event.data));
		};

		socket.onopen = function(event){
			console.log("open: ",event);
			var form = $('#count_form');
			form.submit(function(e){
			console.log("in sumbit");
				e.preventDefault();
				global_count++;
				click_count++;
				var data = {
					'counter': click_count,
					'user': JSON.stringify({ {{user_c|safe}} }),
					'global_count': global_count,
				}
				socket.send(JSON.stringify(data));
			});
		};
	</script>

	<div id="headerwrap" >
		<div id="userCounterInfo">
		<div class="container">
			<div class="row center">
				<br>
				<div class="col-lg-6 col-md-6 Gcount">Global count: {{global_counter}}</div>
				<div class="col-lg-6 col-md-6 ">Username: {{user_c.name}}</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row center">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>C<i class="fa fa-circle"></i>UNTER</h1>
					<h2 id="h2counter">total: {{user_c.counter}}</h2>
					<br>
					<div id="videoDiv" hidden>
						<iframe width="300" height="200" src="https://www.youtube.com/embed/{{videoId}}?autoplay=1&controls=0" frameborder="0">
						</iframe>
					</div>
					<div id="button1">
						<form action="" id="count_form" method="post">
							<input type="hidden" id="usercounter" value="{{user_c.counter}}">
							<input type="hidden" id="username" value="{{user_c.name}}">
							{% csrf_token %}
							{{form.as_p}}
							<input type="submit" class= "button" value="CLICK">
						</form>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
