{%extends 'clickerRoot/base.html'%}

{% block content %}
	<div id="hw2">
		<div class="container">
			<div class="row center">
				<div class="col-lg-8 col-lg-offset-2">
					<br>
					<h1>C<i class="fa fa-circle"></i>UNTER</h1>
					<br>
					<br>
					<br>
					<br>
					<div id="contacts">
						<header><br>CONTACTS</header>
						Yurii Lapenchuk              ID-1 VII: <br>
						+48 800 000 0000<br>
						+48 777 777 1234<br>
						name@mail.com<br>
						Ivan Havryshchuk             ID-1 VII:<br>
						+48 800 000 0000<br>
						+48 777 777 1234<br>
						name@mail.com<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}