{% extends 'clickerRoot/base.html' %}


{% block content %}

	<div id="headerwrap">
		<div class="container">
			<div class="row center">
				<div class="col-lg-8 col-lg-offset-2">
					<br>
					<br>
					<div id="nickname">
						<form action="/" method="post">
							<h1>Sign In</h1>
							<br>
							{% csrf_token %}
							<input id="enterNickname" type="text" name="username" placeholder="Enter Nickname" required><br/>
    						<button type="submit" id="button2">Login</button>
						</form>
						<br>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
