{% extends 'clickerRoot/base.html' %}


{% block content %}

	<div id="headerwrap">
		<div class="container"  style="margin-top:40px;>
			<div class="row center">
				<div class="col-lg-8 col-lg-offset-2">
					<div id="nickname" >
						<form action="/" method="post">
							<h1>Sign In</h1>
							<br>
							{% csrf_token %}
							<input id="enterNickname" type="text" name="username" placeholder="Enter Nickname" required><br/>
    						<button type="submit" id="button2">Confirm</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
